@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "ApfelGrotezk-Mittel", Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
}
h1, h2 {
  font-family: "ApfelGrotezk-Satt", Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  line-height: 0.8;
}

@font-face {
  font-family: "ApfelGrotezk-Brukt";
  src: url("/fonts/ApfelGrotezk-Brukt.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ApfelGrotezk-Fett";
  src: url("/fonts/ApfelGrotezk-Fett.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ApfelGrotezk-Mittel";
  src: url("/fonts/ApfelGrotezk-Mittel.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ApfelGrotezk-Regular";
  src: url("/fonts/ApfelGrotezk-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ApfelGrotezk-Satt";
  src: url("/fonts/ApfelGrotezk-Satt.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: oklch(0.873 0 0);
  --color-black: oklch(0.1924 0.0016 17.3);

  --color-neutral-50: oklch(0.9761 0 0);
  --color-neutral-100: oklch(0.9461 0 0);
  --color-neutral-200: oklch(0.873 0 0);
  --color-neutral-300: oklch(0.8328 0 0);
  --color-neutral-400: oklch(0.7476 0 0);
  --color-neutral-500: oklch(0.683 0 0);
  --color-neutral-600: oklch(0.6268 0 0);
  --color-neutral-700: oklch(0.5829 0 0);
  --color-neutral-800: oklch(0.5138 0 0);
  --color-neutral-900: oklch(0.4459 0 0);
  --color-neutral-950: oklch(0.3329 0 0);

  --color-accent-about: oklch(0.8174 0.1287 147.18);
  --color-accent-fwut-visualizer: oklch(0.771 0.118 62.49);
  --color-accent-edna-world: oklch(0.7252 0.1702 22.24);
  --color-accent-dear-creative: oklch(0.7201 0.1381 249.25);
  --color-accent-voftd: oklch(0.733 0.1679 357.55);
  --color-accent-paper-dreams: oklch(0.849 0.1498 124.56);
  --color-accent-in-the-night: oklch(0.8475 0.097 195.48);
  --color-accent-the-beauty: oklch(0.8383 0.1256 98.5);
  --color-accent-best-of-both: oklch(0.843 0.081 79.3);
  --color-accent-silent-sacrifice: oklch(0.8667 0.0399 285.54);
  --color-accent-fwut: oklch(0.7988 0.1066 313.56);
}


@theme{
    --color-fg: oklch(0.8914 0 0);
  --color-bg:oklch(0.1924 0.0016 17.3);
  --color-accent: oklch(0.8736 0.2628 144.66);
  --color-secondary: oklch(0.7284 0 0);
}
body {
  background-color: var(--color-black);
  color: var(--color-white);
}


ul,li {
    list-style: none;
}


.menu-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  height: 100vh;
  background-color: var(--color-accent);
  color: var(--color-fg);
  z-index: 1000;
  /* pointer-events: none; */
  scroll-behavior: none;
  clip-path: polygon(0% 0%, 100% 0, 100% 0%, 0% 0%);
  overflow: hidden;
}

/* .reel{
    width: 100%;
    height: 100svh;
    z-index: -1;
} */
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero{
    width: 100%;
    height: 100svh;
}
.hero-bg{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  will-change: clip-path;
  z-index: -1;
  background-color: var(--color-accent);
  overflow: hidden;
}


.demo-reel img  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);

}

.preloader-counter{
    position: fixed;
    top: 50svh;
    left: 2rem;
    transform: translateY(-50%) scale(0.25);
    transform-origin: left bottom;
    will-change: transform;
    z-index: 2;
}

.preloader-counter h1{
    font-size: clamp(2.5rem, 25vw, 25rem);
}


.word, .char, .digit{
  position: relative;
  will-change: transform;
}

.intro button, .intro p{
  display: inline-block;
  opacity: 0;
    transform: translateY(-100%);
    will-change: transform;
}

/* .preloader-counter h1 .char{
  transform: translateX(100%);
} */